/zadania/1/JavaApplication1/nbproject/private/
/zadania/1/JavaApplication1/build/
/zadania/2/JavaApplication2/nbproject/private/
/zadania/2/JavaApplication2/build/
/zadania/3/Zadanie3/nbproject/private/
/zadania/1/Zadanie1/nbproject/private/
/zadania/1/Zadanie1/build/