/zadania/1/JavaApplication1/nbproject/private/
/zadania/1/JavaApplication1/build/
/zadania/2/JavaApplication2/nbproject/private/
/zadania/2/JavaApplication2/build/
/zadania/3/Zadanie3/nbproject/private/
/zadania/1/Zadanie1/nbproject/private/
/zadania/1/Zadanie1/build/
/zadania/3/Zadanie2/nbproject/private/
/zadania/2/Zadanie3/nbproject/private/
/zadania/3/Zadanie2/build/
/zadania/4/Zadanie4/nbproject/private/
/zadania/4/Zadanie4/build/
/zadania/5/Zadanie5/nbproject/private/
/zadania/5/Zadanie5/build/
/zadania/6/Zadanie6/nbproject/private/
/zadania/6/Zadanie6/build/
/zadania/7/Zadanie7/nbproject/private/
/zadania/7/Zadanie7/build/